---
- name: Enable multipath hash policy (net.ipv4.fib_multipath_hash_policy=1)
  become: true
  ansible.builtin.sysctl:
    name: net.ipv4.fib_multipath_hash_policy
    value: "1"
    state: present
    reload: true
    sysctl_file: /etc/sysctl.conf

- name: Enable multipath neighbor usage (net.ipv4.fib_multipath_use_neigh=1)
  become: true
  ansible.builtin.sysctl:
    name: net.ipv4.fib_multipath_use_neigh
    value: "1"
    state: present
    reload: true
    sysctl_file: /etc/sysctl.conf



