- name: install bird2
  become: yes
  become_user: root
  apt:
    name: bird2
    state: present

- name: Setup bird config
  become: yes
  become_user: root
  template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
    mode: "0540"

  notify: Restart bird2
