- name: Set base variables
  set_fact:
    worker_types:
      - { index: 1, selector: "src" }
      - { index: 2, selector: "dest" }
    tunnel_groups: "{{ groups | dict2items | selectattr('key', 'match', '^(gre|vxlan)[0-9]+') | map(attribute='key') }}"

- name: Gather facts for tunnel hosts
  ansible.builtin.setup:
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ tunnel_groups | map('extract', groups) | flatten }}"

- name: Set combination
  set_fact:
    combinations: "{{ tunnel_groups | product(worker_types) | list }}"

- name: Process BGP Configuration for each worker type
  include_tasks: process_worker_type.yaml
  loop: "{{ worker_types }}"
  loop_control:
    loop_var: worker_type

- name: Process all combinations
  kubernetes.core.k8s:
    kubeconfig: "{{ lookup('vars', 'KUBECONFIG_' ~ worker_type.index) }}"
    state: present
    template: bgppeer.yaml.j2
  loop: "{{ combinations }}"
  loop_control:
    loop_var: item
  vars:
    tunnel_group: "{{ item.0 }}"
    worker_type: "{{ item.1 }}"
    tunnel_type_name: "{{ tunnel_group | regex_replace('^(gre|vxlan).*', '\\1') }}"
    tunnel_index: "{{ tunnel_group | regex_replace('^(gre|vxlan)', '') | int }}"
    asnumber: "6{{ tunnel_index }}{{ worker_type.index }}13"
    bgp_peer_name: "peer-to-cluster-{{ tunnel_type_name }}{{ tunnel_index }}-worker{{ worker_type.index }}"
    peer_ip: >-
      {{
        (
          groups[tunnel_group]
          | map('extract', hostvars)
          | selectattr('tunnel_type', 'equalto', worker_type.selector)
          | first
        ).ansible_default_ipv4.address
      }}
