- name: Set base variables
  set_fact:
    worker_types:
      - { index: 1, selector: 'src' }
      - { index: 2, selector: 'dest' }
    gre_groups: "{{ groups | dict2items | selectattr('key', 'match', '^gre.*') | map(attribute='key') }}"

- name: Gather facts for GRE hosts
  ansible.builtin.setup:
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ gre_groups | map('extract', groups) | flatten }}"

- name: Set combination
  set_fact:
    combinations: "{{ gre_groups | product(worker_types) | list }}"

- name: Process BGP Configuration for each worker type
  include_tasks: process_worker_type.yaml
  loop: "{{ worker_types }}"
  loop_control:
    loop_var: worker_type

- name: Process all combinations
  kubernetes.core.k8s:
    kubeconfig: "{{ lookup('vars', 'KUBECONFIG_' ~ worker_type.index) }}"
    state: present
    template: bgppeer.yaml.j2
  loop: "{{ combinations }}"
  loop_control:
    loop_var: item
  vars:
    gre_group: "{{ item.0 }}"
    worker_type: "{{ item.1 }}"
    gre_index: "{{ gre_group | regex_replace('^gre', '') | int }}"
    asnumber: "6{{ gre_index }}{{ worker_type.index }}13"
    name: "peer-to-cluster-gre{{ gre_index }}-worker{{ worker_type.index }}"
    peer_ip: >-
      {{
        (
          groups[gre_group]
          | map('extract', hostvars)
          | selectattr('tunnel_type', 'equalto', worker_type.selector)
          | first
        ).ansible_default_ipv4.address
      }}

